/*
Version: 1
Descripcion: Portal de maquinarias agricolas
Autores: Eduardo Bravo, Marcelo Prado
*/

/*---------------------------------------------------------------------------*/
/* General styles
/*---------------------------------------------------------------------------*/
/*body,button,input,label,select,td,textarea{
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:11px;
}*/

.unidad{
	border: 1px solid;
	border-color: #ccc;
   border-radius: 20px;
	padding: 10px;
	margin: 5px;
}
.oculto{ display: none;}
.sin_vinieta{ list-style: none;}
.comentarioDiv{
	height: 35px;
	overflow:auto;
}

#onload{
	height: 280px;
	text-align: center;
	padding: 100px;
} 
